{% extends "base_generic.html" %}

  {% block adres-map-content %}
    <a href="{{adres.staticmapurl}}" class="image is-2by1">
    <img src="{{adres.staticmapurl}}">
    {{adres.staticmapurl}}
    </a>
  {% endblock %}

  {% block adres-details-content %}
      <!-- Adres Details -->
      <div class="media">
        <figure class="media-left">
          <p class="image is-128x128 is-pulled-right">
            <img src="{{ adres.static_locatie_foto_url }}" class="lazyload">
          </p>
        </figure>
        <div class="media-content">
          <h3 class="is-size-4">{{ adres.vernomen_bewoners }}</h3>
          <p>{{ adres.postcode.straatnaam }} {{ adres.huisnummer }} {{ adres.toevoeging }}</p>
          <p>{{ adres.postcode.postcode }}</p>
          <p>{{ adres.postcode.plaatsnaam }}</p>
        </div>
      </div>
  {% endblock %}
