{% extends "base_generic.html" %}
  {% block adres-list-content %}
    {% for adres in adres_list %}
          <!-- Article -->
          <article class="address is-radiusless notification">
            <a href="{{ adres.get_absolute_url }}" ></a>
            <div class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <img src="{{ adres.static_locatie_foto_url }}" class="lazyload">
                </p>
              </figure>
              <div class="media-content content">
                <p>
                  <strong>{{ adres.vernomen_bewoners }}</strong> <br />
                  {{ adres.postcode.straatnaam }} {{ adres.huisnummer }} {{ adres.toevoeging }}<br />
                  {{ adres.postcode.postcode }}, {{ adres.postcode.plaatsnaam }} <br />
                </p>
              </div>
            </div>
          </article>
    {% endfor %}
  {% endblock %}