<!-- Header Navigation -->
    <nav class="navbar is-danger is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="container is-fluid">
        <!-- Hidden Checkbox hack trigger for Pure CSS toggle -->
        <input type="checkbox" id="menu-toggle" class="is-hidden">

        <div class="navbar-brand">
          <a href="/adresboek" class="navbar-item">
            <i class="fas fa-address-book fa-fw" aria-hidden="true"></i>
          </a>

          <label for="menu-toggle" class="nav-toggle navbar-burger button is-primary is-rounded is-small">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>

        <div class="navbar-menu nav-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="#">
              <span class="icon is-medium"><i class="fas fa-truck fa-fw" aria-hidden="true"></i></span> Verhuizing melden
            </a>
            <a class="navbar-item" href="#">
              <span class="icon is-medium"><i class="fas fa-child fa-fw" aria-hidden="true"></i></span> Geboorte melden
            </a>
            <a class="navbar-item" href="#">
              <span class="icon is-medium"><i class="fas fa-user fa-fw" aria-hidden="true"></i></span> Overlijden melden
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <div class="navbar-link">
                <figure class="icon is-medium fa-fw ">
                  <img class="fa-fw is-circular" src="/static/adresboek/images/placeholders/128x128.png" /> 
                </figure>
                <span class=""> Nyong</span>
              </div>
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  <span class="icon is-medium">
                    <i class="fas fa-user-circle fa-fw" aria-hidden="true"> </i>
                  </span>
                  Mijn Profiel
                </a>
                <a class="navbar-item">
                  <span class="icon is-medium">
                    <i class="fas fa-cog fa-fw" aria-hidden="true"> </i>
                  </span>
                  Instellingen
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  <span class="icon is-medium">
                    <i class="fas fa-sign-out-alt fa-fw" aria-hidden="true"></i>
                  </span>
                  Uitloggen
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
