        <section class="tabular-buttons">
          <div class="tabs is-toggle is-fullwidth">
            <ul>
              <li class="tab is-active">
                <a href="#locatie">
                  <span class="icon is-small"><i class="fas fa-camera"></i></span>
                  <span>Locatie</span>
                </a>
              </li>
              <li class="tab">
                <a href="#static-map">
                  <span class="icon is-small"><i class="fas fa-map"></i></span>
                  <span>Kaart</span>
                </a>
              </li>
              <li class="tab">
                <a href="#street-view">
                  <span class="icon is-small"><i class="fas fa-street-view"></i></span>
                  <span>Straat</span>
                </a>
              </li>
            </ul>
          </div>
        </section>
        <section class="tab-content">
          <figure class="image is-2by1">
            <section id="locatie" class="tab-pane animated is-active">
              {% include 'adresboek/partials/adres_details_info.html' %}
            </section>
            <section id="static-map" class="tab-pane animated">
              <div>
                <div id="map"></div>
              </div>
            </section>
            <section id="street-view" class="tab-pane animated">
              <div>
                <div id="pano"></div>
              </div>
            </section>
          </figure>
        </section>
