{% extends 'layout/base_generic.html' %}
  {% block bodyclasses %} adresdetails is-scrollable-app has-navbar-fixed-top{% endblock %}

    {% block 'navbar-icon' %}<i class="fas fa-address-card fa-angle-left" aria-hidden="true"></i>{% endblock %}

    {% block 'navbar-title' %}
      Adresdetails
    {% endblock %}

    {% block 'navbar-end' %}
      {% include 'partials/header_nav_user_menu.html' %}
    {% endblock %}

      {% block content %}
      <!-- Adres Detail view -->
      <section class="detail-view is-scrollable">
        {% block notifications %}
        {% endblock %}
        {% include 'adresboek/partials/adres_details_tabs.html' %}
        <div id="beheer-knoppen" class="section">
          <div class="buttons is-right">
            <a class="button is-primary is-outlined" href="{% url 'adresboek:adres_bewerken' adres.slug %}">
              <span class="icon"><i class="fas fa-edit" aria-hidden="true"></i></span>
              <span>Bewerken</span>
            </a>
          </div>
        </div>
        <!-- Contact Details -->
        <section class="contact-details">
          <!--div class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="header"><span class="icon"><i class="fas fa-phone" aria-hidden="true"></i></span> Telefoon</p>
                <a href=""><span class="placeholder">+31 (0) 6 123 456 78</span></a>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="header"><span class="icon"><i class="fas fa-at" aria-hidden="true"></i></span> Email</p>
                <a href="mailto:"><span class="placeholder">Nyong@Ambon.me</span></a>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="header"><span class="icon"><i class="fab fa-twitter" aria-hidden="true"></i></span> Twitter</p>
                <a href="https://twitter.com"><span class="placeholder">@NyongAmbon</span></a>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="header"><span class="icon"><i class="fab fa-facebook" aria-hidden="true"></i></span> Twitter</p>
                <a href="https://facebook.com"><span class="placeholder">/NyongAmbon</span></a>
              </div>
            </div>
          </div>
          <div class="field is-grouped is-pulled-right">
            <p class="control">
              <a href="" class="button is-success"><span class="icon"><i class="fas fa-question" aria-hidden="true"></i></span> <span>Verzoek Contactgegevens</span></a>
              <a href="" class="button is-danger" disabled><span class="icon"><i class="fas fa-address-card" aria-hidden="true"></i></span> <span>Contactgegevens opslaan</span></a>
            </p>
          </div>
        </section-->
      </section>
      {% endblock %}

    {% block footer-scripts %}
    {{ block.super }}
    {% include 'adresboek/scripts_adres_detail.html' %}
    {% endblock %}
