{% extends 'layout/base_generic.html' %}
  {% block bodyclasses %} adreslijst is-scrollable-app has-navbar-fixed-top{% endblock %}

    {% block 'navbar-title' %}
      Adresboek
    {% endblock %}

    {% block 'header-nav' %}
      {% include 'adresboek/header_nav_user_menu.html' with title='Adresboek' %}
    {% endblock %}

      {% block content %}

      <!-- Adres List content -->
      <section id="adres-lijst" class="list-view tile is-parent is-vertical is-scrollable">
        <!-- Search -->
        <div class="adres search tile notification is-danger is-radiusless">
          <div class="field">
            <p class="control has-icons-left has-icons-right is-expanded">
              <input id="zoek-adres-lijst" class="input is-small is-warning is-rounded" type="text" placeholder="Zoek in Adresboek...">
              <span class="icon is-small is-left">
                <i class="fas fa-address-book" aria-hidden="true"></i>
              </span>
              <span class="icon is-small is-right is-">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </p>
            <p class="help has-text-centered">
              <div class="tags has-addons">
                <span class="tag is-danger">
                Sorteer
                </span>
                <span class="tag is-white sort" data-sort="bewoners">
                bewoners
                </span>
                <span class="tag is-white sort" data-sort="straat">
                straat
                </span>
                <span class="tag is-white sort" data-sort="postcode">
                postcode
                </span>
              </div>
<!--               <span class="tag is-white sort" data-sort="plaatsnaam">
              plaatsnaam
              </span> -->
            </p>
          </div>
        </div>

        <ul class="list">
        {% for adres in adres_list %}
          <!-- Article -->
          <li class="adres is-radiusless notification {% if adres.bewoners == 'Bewoners Onbekend' %} is-info{% elif adres.compleet == 0 %} is-warning{% endif %}">
            <div>
            {% include 'adresboek/partials/adres_details_info.html' %}
            </div>
          </li>
          {% endfor %}
        </ul>
        <ul>
          <li class="adres adres-toevoegen is-radiusless notification is-primary">
            <div class="large-media">
            <a href="{% url 'adresboek:adres_toevoegen' %}"></a>
              <figure class="image is-2by1">
                <div class="fa-layers fa-fw fa-5x" style="position: absolute;margin: auto;top: 0;left: 0;right: 0;bottom: 0;">
                  <i class="fas fa-home"></i>
                  <i class="fas fa-plus" data-fa-transform="shrink-7 right-5" style="color:#661626"></i>
                  <i class="fas fa-plus" data-fa-transform="shrink-8 right-5"></i>
                </div>
              </figure>
              <div class="content">
                <p>
                  <span class="bewoners is-size-5">Adres Toevoegen</span>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </section>
      {% endblock %}

    {% block footer-scripts %}
    {{ block.super }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script>
      var options = {
        valueNames: [ 'bewoners', 'onvolledig', 'straat', 'postcode', 'plaatsnaam' ],
      };

      var adreslijst = new List('adres-lijst', options);
      $('#zoek-adres-lijst').on('keyup', function() {
        var searchString = $(this).val();
        adreslijst.search(searchString);
      });
    </script>
    {% endblock %}
