{% extends "layout/base_generic.html" %}
    {% block 'header-nav' %}
      {% include "partials/header_nav_site_menu.html" %}
    {% endblock %}

  {% block content %}
          <div class="tile is-ancestor">
            <div class="tile is-vertical is-5">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <p class="title is-size-3"><i class="fas fa-key" aria-hidden="true"></i> Wachtwoord gewijzigd</p>
                  <div class="content">
                    <!-- Content -->
                    <p>Uw wachtwoord is gewijzigd. U kunt nu proberen om opnieuw in te loggen met uw nieuwe wachtwoord. <a href="{% url 'login' %}"></a></p>
                  </div>
                </article>
              </div>
              <div class="level">
                <!-- <a class="level-item" href="../">Hulp Nodig?</a> -->
              </div>
            </div>
          </div>
  {% endblock %}
