{% extends "layout/base_generic.html" %}
    {% block 'header-nav' %}
      {% include "partials/header_nav_site_menu.html" %}
    {% endblock %}

  {% block content %}
          <div class="tile is-ancestor">
            <div class="tile is-vertical is-5">
              <div class="tile is-parent">
                <article class="tile is-child box">
      {% if validlink %}
                  <p class="title is-size-3"><i class="fas fa-key" aria-hidden="true"></i> Wachtwoord herstel</p>
                  <p class="subtitle is-size-4">Nieuwe wachtwoord invoeren</p>
                  <div class="content">
                    <!-- Content -->
                    <p>TIP: Vindt u het lastig om al deze dingen te onthouden? Schrijf uw gebruikersnaam en nieuwe wachtwoord voor Ambon Diaspora dan ergens op, en berg het op een veilige plek weg, zodat u het altijd kunt opzoeken als u het vergeten bent.</p>
                    <form action="" method="post">
                      {% csrf_token %}
                      <!-- Password 1 -->
                      <div class="field">
                        <label class="label is-small" for="{{ form.new_password1.id_for_label}}">Nieuw wachtwoord</label>
                        <p class="control has-icons-left">
                          <input id="{{ form.new_password1.id_for_label}}" class="input" name="{{ form.new_password1.html_name}}" type="password" required="">
                          <span class="icon is-left is-small">
                            <i class="fas fa-key" aria-hidden="true"></i>
                          </span>
                        </p>
                        <p class="help is-danger">{{ form.new_password1.errors }}</p>
                      </div>

                      <!-- Password 2 -->
                      <div class="field">
                        <label class="label is-small" for="{{ form.new_password2.id_for_label}}">Nieuw wachtwoord bevestigen</label>
                        <p class="control has-icons-left">
                          <input id="{{ form.new_password2.id_for_label}}" class="input" name="{{ form.new_password2.html_name}}" type="password" required="">
                          <span class="icon is-left is-small">
                            <i class="fas fa-key" aria-hidden="true"></i>
                          </span>
                        </p>
                        <p class="help is-danger">{{ form.new_password2.errors }}</p>
                      </div>

                      <div class="buttons is-right">
                        <button class="button is-info" value="login">
                          <span class="icon">
                            <i class="fas fa-key" aria-hidden="true"></i>
                          </span>
                          <span>Wachtwoord veranderen</span>
                        </button>
                      </div>
                    </form>
    {% else %}
                  <p class="title is-size-3">Wachtwoord herstel mislukt</p>
                  <div class="content">
                    <!-- Content -->
                    <p>The password herstel link was ongeldig, waarschijnlijk omdat het al gebruikt is. Druk <a href="{% url 'password_reset' %}">hier</a> als u een wachtwoord herstel verzoek wilt indienen.</p>
    {% endif %}
                </article>
              </div>
              <div class="level">
                <!-- <a class="level-item" href="../">Hulp Nodig?</a> -->
              </div>
            </div>
          </div>
  {% endblock %}
