{% extends "layout/base_generic.html" %}
    {% block 'header-nav' %}
      {% include "partials/header_nav_site_menu.html" %}
    {% endblock %}

  {% block content %}
          <div class="tile is-ancestor">
            <div class="tile is-vertical is-5">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <p class="title is-size-3"><i class="fas fa-key" aria-hidden="true"></i> Wachtwoord kwijt?</p>
                  <div class="content">
                    <!-- Content -->
                    <p>Maakt u zich geen zorgen. Vul hier uw emailadres in. Dan ontvangt u van ons een Email die u helpt om uw wachtwoord te resetten.</p>
                  </div>
                  <form action="" method="post">
                  {% csrf_token %}
                  {% if form.email.errors %}<div class="tile notification">{{ form.email.errors }}</div>{% endif %}
                    <!-- Email -->
                    <div class="field">
                      <label for="{{ form.email.id_for_label }}" class="label is-small" for="email">Email</label>
                      <p class="control has-icons-left">
                        <input id="{{ form.email.id_for_label }}" class="input" name="{{ form.email.html_name }}" type="text" placeholder="Emailadres">
                        <span class="icon is-small is-left">
                          <i class="fas fa-envelope" aria-hidden="true"></i>
                        </span>
                      </p>
                    </div>
                    <div class="buttons is-right">
                      <button class="button is-primary" href="#">
                        <span class="icon">
                          <i class="fas fa-key" aria-hidden="true"></i>
                        </span>
                        <span>Wachtwoord resetten</span>
                      </button>
                    </div>
                  </form>
                </article>
              </div>
              <div class="level">
                <!-- <a class="level-item" href="../">Hulp Nodig?</a> -->
              </div>
            </div>
          </div>
{% endblock %}
