<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Ambon Diaspora | Wachtwoord Reset Verzoek</title>
  <style>
    body {
      background-color: white;
      background-image: -webkit-linear-gradient(51deg, #e6e6e6 0%, white 71%, white 100%);
      background-image: -o-linear-gradient(51deg, #e6e6e6 0%, white 71%, white 100%);
      background-image: linear-gradient(141deg, #e6e6e6 0%, white 71%, white 100%);
      color: #0a0a0a;
      font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
  </style>
  </head>
  <body style="margin:0; padding:0; background-color: white; background-image: linear-gradient(141deg, #e6e6e6 0%, white 71%, white 100%); color: #0a0a0a; font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;">
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
      <tr style="background-color: #ff3860; padding:7px">
        <td align="center" valign="top">
          <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
            <tr>
              <td align="center" valign="top">
                <h1 style="margin:0;">
                  <a style="text-decoration: none" href="{{ protocol}}://{{ domain }}" title="Naar de Ambon Diaspora Website">
                    <svg style="height: 24px; width: 24px;" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="#ffffff" d="M436 160c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-20V48c0-26.51-21.49-48-48-48H48C21.49 0 0 21.49 0 48v416c0 26.51 21.49 48 48 48h320c26.51 0 48-21.49 48-48v-48h20c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-20v-64h20c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-20v-64h20zm-228-32c44.183 0 80 35.817 80 80s-35.817 80-80 80-80-35.817-80-80 35.817-80 80-80zm128 232c0 13.255-10.745 24-24 24H104c-13.255 0-24-10.745-24-24v-18.523c0-22.026 14.99-41.225 36.358-46.567l35.657-8.914c29.101 20.932 74.509 26.945 111.97 0l35.657 8.914C321.01 300.252 336 319.452 336 341.477V360z"></path></svg><span style="color:#ffffff;text-transform: uppercase;"> Ambon Diaspora</span>
                  </a>
                </h1>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align="center" valign="top">
          <table style="padding-top: 24px;" border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
            <tr>
              <td align="left" valign="top" style="background-color: white; border-radius: 5px; -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1); box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1); color: #4a4a4a; display: block; padding: 18px;">
                <h2><svg style="height: 18px; width: 22px;" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="#4a4a4a" d="M512 176.001C512 273.203 433.202 352 336 352c-11.22 0-22.19-1.062-32.827-3.069l-24.012 27.014A23.999 23.999 0 0 1 261.223 384H224v40c0 13.255-10.745 24-24 24h-40v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24v-78.059c0-6.365 2.529-12.47 7.029-16.971l161.802-161.802C163.108 213.814 160 195.271 160 176 160 78.798 238.797.001 335.999 0 433.488-.001 512 78.511 512 176.001zM336 128c0 26.51 21.49 48 48 48s48-21.49 48-48-21.49-48-48-48-48 21.49-48 48z"></path></svg> Wachtwoord herstel verzoek</h2>
                <p>Bent u uw wachtwoord vergeten voor uw AMBON DIASPORA account met de email {{ email }}?</p>
                <p>Volg dan onderstaande link om uw wachtwoord te herstellen: <br />
                  <a style="color: #27ae60;" href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a></p>
                <p><small>Heeft u dit niet aangevraagd, dan kunt u deze email als niet verzonden beschouwen.</small></p>
                <br />
                <p>Met vriendelijke groet,</p>
                <p>Het Ambon Diaspora Team</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
