{% extends "layout/base_generic.html" %}
    {% block 'header-nav' %}
      {% include "partials/header_nav_site_menu.html" %}
    {% endblock %}

  {% block content %}
          <div class="tile is-ancestor">
            <div class="tile is-vertical is-5">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <p class="title is-size-3"><i class="fas fa-envelope" aria-hidden="true"></i> Check uw Email</p>
                  <p class="subtitle is-size-4">Wij hebben u wat gestuurd</p>
                  <div class="content">
                    <!-- Content -->
                    <p>Als het goed is heeft u een email ontvangen met instructies voor het opnieuw instellen van uw wachtwoord. Als u deze email niet heeft ontvangen, kijk dan in uw spam map.</p>
                  </div>
                </article>
              </div>
              <div class="level">
                <!-- <a class="level-item" href="../">Hulp Nodig?</a> -->
              </div>
            </div>
          </div>
  {% endblock %}
