{% load static %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{% static 'dist/scripts/main.js' %}"></script>
    <script>
      // BULMA Tab script
      $(function(){
        $('li.tab:first').addClass('is-active');
        $('li.tab').click(function(event) {
          event.preventDefault();
          $('li.tab').removeClass('is-active');
          $(this).addClass('is-active');
          $('.tab-pane').removeClass('is-active');
          $('.tab-pane' + $(this).children('a').attr('href')).addClass('is-active');
          return true;
        });
        $('.tab-pane:first').show();
      });
    </script>
