{% load static %}
<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ambon Diaspora | Adresboek</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dist/styles/main.css' %}" />
    <script async defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    {% include 'partials/head_manifest.html' %}
  </head>
