{% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="{% static 'frontend/images/manifest/manifest.json' %}">
    <link rel="icon" type="image/png" href="{% static 'frontend/images/manifest/favicon-16x16.png' %}" sizes="16x16">
    <link rel="shortcut icon" type="image/png" href="{% static 'frontend/images/manifest/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'frontend/images/manifest/favicon-64x64.png' %}" sizes="64x64">
    <link rel="icon" type="image/png" href="{% static 'frontend/images/manifest/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'frontend/images/manifest/favicon-128x128.png' %}" sizes="128x128">
    <link rel="apple-touch-icon" href="{% static 'frontend/images/manifest/apple-touch-icon-180x180.png' %}" sizes="180x180">
    <link rel="icon" type="image/png" href="{% static 'frontend/images/manifest/favicon-256x256.png' %}" sizes="256x256">

    <meta name="author" content="Stichting ArtKids Foundation">
    <!-- Viewport (iPhone 5 friendly) -->
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Status bar styles -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- Telephone format detection -->
    <meta name="format-detection" content="telephone=no">
    <!-- Title -->
    <meta name="apple-mobile-web-app-title" content="Ambon Diaspora | Adresboek">
    <meta name="application-name" content="Adresboek">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="MobileOptimized" content="width">
    <meta name="msapplication-config" content="{% static 'frontend/images/manifest/browserconfig.xml' %}">
    <meta name="msapplication-navbutton-color" content="#000000">
    <meta name="msapplication-starturl" content="/adresboek/">
    <meta name="theme-color" content="#000000">
